.page-header{
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.anime {
    text-align: center;
  }
  
.results-button{
  background-color: white;
  color: black;
}
.results-button:hover{
  background-color: grey;
  color: #282c34;
}
.button{
  margin: 1vw;
  padding: 1vw;
  font-size: large;
  border-radius: 5px;
  font-weight: bold;
  border: 0;
}

.send-button{
  background-color: green;
  color: aliceblue;
}
.send-button:hover{
  background-color: darkgreen;
  color: #282c34;
}
.otakuName{
  font-size: medium;
  display: contents;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.anime-header {
  background-color: #282c34;
  min-height: 100vh;
  display:grid;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1vw));
  grid-gap: 3vw;
  padding:  4vw;
  justify-items: center;
  align-items: center;
}
.anime-grid{
  display: contents;
}
